html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #000; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
}
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 40px;
}


.schedule {
    font-style: bold;
    font-size: 21px;
    cursor: pointer;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home .main-img {
    /* margin-top: 60px; */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit:fill; 
    transform: translate(-50%, -50%);
    z-index: -1;
}

.home .scroll-img {
    position: relative;
    top: 78vh;
    width: 9vw;
    height: 9vw;
    left: 6vw;
}

.home .m-tech-logo{
    width:17vw;
    height: auto;
    position: relative;
    top: 10vh;
    left: 5vw;
}

.home .date-induction{
    width: 20vw;
    position: relative;
    top: 78vh;
    left: 51vw;
}

.about {
    background-color: #B3FF52;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* .about h1{
    margin-left: 100px;
    margin-top: 150px;
    font-size: 60px;
    font-weight: bold;
    color: #151515;
} */

.about .welcome-iiitd{
    width: 50vw;
    margin-left: 6vw;
    margin-top:10vh;
}

.about p{
    font-size: 22px;
    line-height: 1.5;
    max-width: 600px;
    margin-left: 100px;
    margin-top: 50px;
}
.about .iiitd-building{
    position: relative;
    width: 36vw;
    height: 36vw;
    top: -52vh;
    left:59vw;
    max-width: 540px;
    max-height: 540px;
}


.keynote-speakers-page{
    height: 130vh;
    width: 100%;
    background-color: #000;
}

.keynote-speakers-page .heading-text{
    width: 45vw;
    height: auto;
    position: relative;
    left: 27vw;
    top: 9vh;
}

.keynote-speakers-page .greet-keynote-speakers-text{
    color: white;
    position: relative;
    top: 10vh;
    left: 25vw;
    width: 52vw;
    font-size: xx-large;
}

.other-speakers-page{
    height: 130vh;
    width: 100%;
    background-color: #000;
}

.other-speakers-page .heading-text-2{
    width: 45vw;
    height: auto;
    position: relative;
    left: 27vw;
    top: 9vh;
}

.other-speakers-page .greet-other-speakers-text{
    color: white;
    position: relative;
    top: 10vh;
    left: 25vw;
    width: 52vw;
    font-size: xx-large;
}

.quote-used-page{
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.quote-used-page .quoted-image{
    width: 45vw;
    height: auto;
    position: relative;
    left: 27vw;
    top: 9vh;
}