html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:#1E1E1E ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #000; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 40px;
}

.schedule {
    font-style: bold;
    font-size: 21px;
    cursor: pointer;
}

.heading-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-text .heading{
    position: relative;
    height:95%;
    width: 95%;
    top: 55px;
}

.address{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vh;
}
.address .location{
    margin:0 5vw;
    margin-top: 5vh;
    width: 50vw;
    height: 30vw;
}
.address .location .map{
    border-radius: 20px;
    width: 80%;
    height:100%;
}

.address .text{
    color: white;
    text-align: left;
    padding: 10px;
    max-width: 30vw;
    position: relative;
    right: 10vw;
}

.address.text h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.address.text p {
    font-size: 14px;
    margin: 10px 0;
}

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
}

.contacts .contact{
    /* position: relative; */
    /* height: 70%; */
    width: 69.27%;
    height:75%;
    margin-top: 15vh;
    background-image: url(images/background-imp-contact.png);
    border-radius: 23px;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    /* top: 70px; */
}
.contacts .contact .top-portion{
    width: 10vw;
    position: relative;
    top: -2.5%;
}
.contacts .contact .top-portion .hat{
    width: 100%;
}
.contacts .contact .imp-contact{
    width: 80%;
    margin-top: 5%;
    margin-bottom:7%;
}
.contacts .contact .contact-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-details{
    width: 80%;
}
